.accordion-menu {
  margin-top: 2rem;

  a {
    &:after {
      border-color: $copper transparent transparent;
    }
  }

  ul.list {
    margin-bottom: 1.5rem;
  }

  ul > p {
    padding-top: 10px;
    margin-bottom: 14px;
  }

  > li {
    ul {
      margin-left: 0;
    }
    > a {
      color: $white;
      background: $black;
      border: 1px solid $copper;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: 4px;
      padding: 14px 16px 15px;
    }
    &:last-child {
      > a {
        margin-bottom: 0;
      }
    }
  }

  li li {
    > a {
      background: $very-light-gray;
      font-size: 12px;
      color: $black;
      text-decoration: none;
      margin-bottom: 2px;
      padding: 16px 16px 15px 55px;
      position: relative;
      overflow: hidden;
      &:before {
        content: '';
        width: 43px;
        height: 43px;
        background: $copper;
        background-size: 19px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:after {
        content: '+';
        color: $copper;
        width: auto;
        height: auto;
        border: none;
        position: absolute;
        right: 1rem;
        margin-top: -0.5rem;
      }
    }
    &.is-accordion-submenu-parent[aria-expanded='true'] > a::after {
      content: '–';
    }
  }

  .item-1{
    &-1:before {
      background-image: url(../img/Icons/2016-gf-gpp-mobile-vsc-icon.png);
    }
    &-2:before {
      background-image: url(../img/Icons/2016-gf-gpp-mobile-term_care-icon.png);
    }
  }

  .item-2 {
    &-1:before {
      background-image: url(../img/Icons/2016-gf-gpp-mobile-term_care-icon.png);
    }
    &-2:before {
      background-image: url(../img/Icons/2016-gf-gpp-mobile-pre_paid-icon.png);
    }
  }

  .item-3 {
    &-1:before {
      background-image: url(../img/Icons/2016-gf-gpp-mobile-lease-icon.png);
    }
    &-2:before {
      background-image: url(../img/Icons/2016-gf-gpp-mobile-tire_and_wheel-icon.png);
    }
    &-3:before {
      background-image: url(../img/Icons/2016-gf-gpp-mobile-paintless_dent-icon.png);
    }
    &-4:before {
      background-image: url(../img/Icons/2016-gf-gpp-mobile-windshield_prot-icon.png);
    }
  }

  .item-4 {
    &-1:before {
      background-image: url(../img/Icons/2016-gf-gpp-mobile-gap-icon.png);
    }
    &-2:before {
      background-image: url(../img/Icons/2016-gf-gpp-mobile-key-icon.png);
    }
  }


}

