.button {
  background: $copper;
  padding-top: 10px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-size: 12px;
  &:hover,
  &:active,
  &:focus {
    background: $copper;
  }
}

.back-top {
  padding-top: 1rem;
  margin-bottom: 4.5rem;
  text-align: right;
  border-bottom: 1px solid $copper;
  a {
    text-decoration: none;
    margin-bottom: 0;
  }
}

.close-accordion {
  text-align: center;
  margin: 3rem auto 0;
  a {
    position: relative;
    background: $very-light-gray;
    padding: 2px 32px 2px 12px;
    font-size: 12px;
    color: $black;
    text-decoration: none;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    &:hover {
      color: $black;
    }
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: $copper transparent transparent;
      border-top-style: solid;
      border-bottom-width: 0;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: 14px;
      transform: scaleY(-1);
      transform-origin: 50% 50%;
    }
  }
}