footer {
  padding: 24px 0;

  &.-desktop {
    background: $black;
  }

  nav {
    ul {
      margin: 0 0 1rem;
    }
    li {
      border-right: 1px solid $white;
      display: inline-block;
      list-style: none;
      margin-right: 5px;
      padding-right: 10px;
      line-height: 12px;
      &:last-child {
        border-right: 0;
      }
      a {
        color: $white;
        font-size: 10px;
        font-weight: normal;
        text-decoration: none;
        text-transform: uppercase;
        &:hover,
        &:active {
          color: $white;
        }
      }
    }
  }

  p {
    color: $gray;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.6;
    margin-bottom: 0;
    font-size: 10px;
  }

  &.-mobile {
    padding: 0;
    .inner-wrapper {
      background: $black;
      padding: 36px 30px 22px;
    }
    nav li {
      border: none;
      display: block;
      margin-bottom: 28px;
      padding-right: 0;
      &:nth-child(4) {
        margin-bottom: 24px;
      }
      &:nth-child(5),
      &:nth-child(6) {
        display: inline-block;
        margin-bottom: 6px;
      }
      &:nth-child(5) {
        padding-left: 8px;
        padding-right: 10px;
        border-right: 1px solid $white;
      }
      &:nth-child(6) {
        margin-right: 0;
      }
    }
    p {
      text-align: center;
    }
  }

}