header {
  background: $black;

  .clear {
    clear: both;
  }

  .header-top {
    border-bottom: 2px solid $copper;
    .inner-wrapper {
      height: 84px;
      .-mobile & {
        height: 54px;
      }
    }
  }

  .logo {
    width: 171px;
    float: left;
    position: relative;
    top: 32px;
    .-mobile & {
      top: 12px
    }
  }

  .top-nav-links {
    float: right;
    width: 216px;
    height: 30px;
    text-align: center;
    border-left: 1px solid $copper;
    border-right: 1px solid $copper;
    border-bottom: 1px solid $copper;
    a {
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      &:hover,
      &:active {
        color: $white;
      }
    }
  }

  .top-search {
    float: right;
    position: relative;
    top: 10px;
    .search-field {
      font-size: 11px;
      height: 22px;
      padding: 0 21px 0 5px;
      width: 194px;
    }
    .search-btn {
      position: absolute;
      right: 0px;
      top: 0;
    }
  }

  .header-bottom {
    overflow: hidden;
    height: 117px;
    .logo {
      width: 171px;
      float: left;
      position: relative;
      top: 32px;
    }
    .logo a {
      display: block;
    }
  }

  .bottom-login {
    float: left;
    width: 240px;
    height: 117px;

    .left {
      position: relative;
      top: 14px;
      width: 110px;
      float: left;
      .input-field {
        margin: 0 0 5px 0;
        height: 19px;
        background-color: #fff;
        float: left;
        display: inline;
        position: relative;
      }

      .input-field input {
        font-size: 11px;
        padding: 0;
        margin: 0;
        height: 19px;
        line-height: 18px;
        width: 99px;
        color: #777;
        border: 0;
        float: left;
        display: inline;
        background-color: #fff;
      }

      .input-field label {
        color: #808080;
        font-size: 11px;
        left: 6px;
        position: absolute;
        top: 3px;
        cursor: text;
        z-index: 10;
      }
    }

    .right {
      float: left;
      position: relative;
      top: 10px;
      width: 110px;

      .checkbox {
        font-size: 13px;
        margin: 0;
        border-radius: none;
      }

      label {
        color: $white;
        font-size: 12px;
        position: relative;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        margin: 3px 0 0 2px;
      }

      .btn {
        top: 0px;
        position: relative;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: none;
        padding: 4px 4px 3px;
        background-color: #fff;
        line-height: 12px;
        border: none;
      }

    }

    .login-questions {
      margin-top: 18px;

      p {
        color: $white;
        font-size: 12px;
        a {
          color: $white;
        }
      }
    }

  }

  nav {
    width: 720px;
    //height: 117px;
    float: right;
    ul {
      margin: 0;
      list-style-type: none;
      li {
        float: left;
        font-size: 0;
        display: inline-block;
        width: 16.6667%;
        text-align: center;
      }
      a {
        font-size: 12px;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        line-height: 1.4;
      }
    }
  }

  .mobile-menu {
    float: right;
    top: 30px;
    margin: 0;
    list-style: none;
    position: absolute;
    right: 0;
    .-mobile & {
      top: 14px
    }

    li {
      display: inline-block;
      padding: 0;
      &:first-child {
        padding-right: 15px;
        border-right: 1px solid $white;
      }
      &:last-child {
        padding-left: 8px;
      }
    }

    .text a {
      font-size: 15px;
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

}

nav.slide-menu {
  ul {
    margin: 0;
  }
  li {
    margin: 0;
  }
  a {
    display: block;
    padding: 6px 0;
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
  }
}