a {
  color: $copper;
  text-decoration: underline;
  &:hover,
  &:active,
  &:focus {
    color: $copper;
  }
}

.arrow-link {
  font-size: 12px;
  cursor: pointer;
  position: relative;
  padding-left: 12px;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 4px;
    border-color: $copper transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  &.flip:before  {
    transform: rotate(0);
  }
}

.disclaimer {
  display: none;
  margin-top: 1.5rem;
  .-mobile & {
    margin-top: 1rem;
  }
  p {
    font-size: 10px;
    margin-bottom: 1rem;
  }
}

.mobile-nav {
  display: block;
  margin: 0;
  width: 20px;
  &:before,
  &:after {
    background-color: #fff;
    content: '';
    display: block;
    height: 2px;
    transition: all 200ms ease-in-out;
  }
  &:before {
    box-shadow: 0 5px 0 #fff;
    margin-bottom: 8px;
  }
  &.open:before {
    box-shadow: 0 0 0 #fff;
    transform: translateY(4px) rotate(45deg);
  }
  &.open:after {
    transform: translateY(-6px) rotate(-45deg);
  }
}