.-mobile {
  margin: 0 auto;
  width: 340px;
  position: relative;
  .inner-wrapper {
    margin: 0 auto;
    width: 340px;
    position: relative;
  }
}

.-desktop {
  .inner-wrapper {
    margin: 0 auto;
    width: 960px;
  }
  .outer-wrapper {
    margin: 0 auto;
    width: 960px;
  }
}

main {
  background: $white;
  padding: 2.5rem 0;
  &.-mobile {
    padding: 1rem 0 1.5rem;
    .inner-wrapper {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.main-inner {
  background: $white;

  .left-column,
  .right-column {
    float: left;
    position: relative;
  }

  .left-column {
    padding-right: 60px;
    width: 751px;
    border-right: 1px solid $light-gray;
  }

  .right-column {
    width: 200px;
    padding-left: 20px;
  }

}

