.wrapper-center {
  text-align: center;
}

.tabs {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid $copper;
  margin-bottom: 30px;

  .tabs-title {
    background: $very-light-gray;
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }

  .is-active {
    background: $copper;
    a {
      color: $white;
      background: $copper;
      text-decoration: none;
      &:hover {
        background: $copper;
      }
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    padding: 12px 9px 12px 12px;
    &:hover {
      background: $copper;
      color: $white;
    }
  }

}

.tabs-content {
  border: none;

  .tabs-panel {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

}

.sub-tabs {
  display: inline-block;
  overflow: hidden;
  margin: 0 0 28px;
  padding: 0;

  li {
    float: left;
    list-style: none;
    margin: 0 12px 0 12px;
    padding: 0;
    width: 105px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: $black;
    &:active,
    &:hover {
      color: $black;
    }

  }

  .icon {
    display: block;
    height: 105px;
    width: 105px;
    background: red;
    margin-bottom: 10px;
  }

  span {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
  }


  .icon-2 {

    &-1 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-vsc_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-vsc_active-icon.png);
      }
    }

    &-2 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-cpo_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-cpo_active-icon.png);
      }
    }

  }

  .icon-3 {
    &-1 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-term_care_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-term_care_active-icon.png);
      }
    }
    &-2 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-pre_paid_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-pre_paid_active-icon.png);
      }
    }
  }


  .icon-4 {

    &-1 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-lease_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-lease_active-icon.png);
      }
    }

    &-2 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-tire_and_wheel_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-tire_and_wheel_active-icon.png);
      }
    }

    &-3 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-paintless_dent_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-paintless_dent_active-icon.png);
      }
    }

    &-4 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-windshield_prot_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-windshield_prot_active-icon.png);
      }
    }

    &-5 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-appearance_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-appearance_active-icon.png);
      }
    }

  }


  .icon-5 {

    &-1 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-gap_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-gap_active-icon.png);
      }
    }

    &-2 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-theft_prot_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-theft_prot_active-icon.png);
      }
    }

    &-3 {
      .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-key_inactive-icon.png);
      }
      a:hover .icon {
        background: url(../img/Icons/2016-gf-gpp-desktp-key_active-icon.png);
      }
    }

  }


}

.sub-tabs-header {
  margin-bottom: 2rem;
}