$body-font-family: Verdana, Helvetica, sans-serif;

h1,
h2,
h3,
h4,
h5,
p,
ul {
  font-family: $body-font-family;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: $copper;
}

h1 {
  font-size: 21px;
  margin-bottom: 2rem;
  .-mobile & {
    margin-bottom: 0;
  }

}

h2 {
  font-size: 17px;
  .-mobile & {
    padding-top: 1rem;
  }
}

h3 {
  font-size: 14px;
  margin-bottom: 1rem;
  .-mobile & {
    margin-bottom: .5rem;
  }
}

p {
  font-size: 12px;
  margin-bottom: 1.5rem;
  .-mobile & {
    margin-bottom: 1rem;
  }

  &.small {
    font-size: 10px;
  }
}

ul.list {
  margin-left: 0;
  padding-left: 12px;
  position: relative;
  list-style: none;
  margin-bottom: 1.5rem;
  li {
    font-size: 12px;
    margin-bottom: 1rem;
    &:before {
      content: '•';
      color: $copper;
      position: absolute;
      left: 0;
    }
  }
}

hr {
  border-bottom: 1px solid $copper;
  .-mobile & {
    margin: 1rem 0;
  }
}

.bold {
  font-weight: 600;
}

img {
  &.padding-bottom {
    padding-bottom: 2rem;
  }
}

.image-caption {
  margin-bottom: 1rem;
}

.text-caption {
  color: $dark-gray;
  font-size: 10px;
  margin-bottom: 2rem;
  .-mobile & {
    margin-bottom: 1.5rem;
  }
}