<header id="top">

    <div class="header-top">
        <div class="inner-wrapper">

            <div class="logo">
                <a href="/">
                    <img width="171" height="131" src="#" alt="Genesis Finance">
                </a>
            </div>

            <ul class="mobile-menu">
                <li class="menu-toggle">
                    <a href="#" class="mobile-nav"></a>
                </li>
                <li class="text">
                    <a href="#">Log In</a>
                </li>
            </ul>

        </div>
    </div>

</header>

<nav class="slide-menu">
    <div class="inner-wrapper">
        <ul>
            <li>
                <a href="#">My Account</a>
            </li>
            <li>
                <a href="#">Payments</a>
            </li>
            <li>
                <a href="#">Purchase or Lease</a>
            </li>
            <li>
                <a href="#">Vehicle Protection</a>
            </li>
            <li>
                <a href="#">Discover Genesis</a>
            </li>
            <li>
                <a href="#">Finance Tools</a>
            </li>
        </ul>
    </div>
</nav>

<header id="top">

    <div class="header-top">
        <div class="inner-wrapper">

            <div class="logo">
                <a href="/">
                    <img width="171" height="131" src="#" alt="Genesis Finance">
                </a>
            </div>

            <div class="top-nav-links">
                <a href="https://www.genesismotorsusa.com/">Visit Genesismotorusa.com</a>
            </div>

            <div class="clear"></div>

            <div class="top-search">
                <form action="#" method="post">
                    <input class="search-field" name="searchValue" value="Search" type="text">
                    <input class="search-btn" value="Search" title="Search" alt="Search" type="image">
                </form>
            </div>

        </div>
    </div>

    <div class="header-bottom">
        <div class="inner-wrapper">

            <div class="bottom-login">

                <form action="/login" method="post">
                    <div class="left">
                        <div class="input-field">
                            <input name="Username" placeholder="Username" type="text">
                            <label for=""></label>
                        </div>

                        <div class="input-field">
                            <input type="text">
                            <label for=""></label>
                        </div>
                    </div>

                    <div class="right">
                        <input class="checkbox" name="remember-me" value="true" type="checkbox">
                        <label for="">Remember me</label>
                        <a href="#">
                            <input class="btn" value="log-in" type="submit">
                        </a>
                    </div>
                </form>

                <div class="clear"></div>

                <div class="login-questions">
                    <p>Forgot <a href="#">Username</a> or <a href="#">Password?</a><br><a href="#">Create an Account</a></p>
                </div>

            </div>

            <nav>
                <ul>
                    <li>
                        <a href="#">My Account</a>
                    </li>
                    <li>
                        <a href="">Payments</a>
                    </li>
                    <li>
                        <a href="">Purchase<br>or Lease</a>
                    </li>
                    <li>
                        <a href="">Vehicle<br>Protection</a>
                    </li>
                    <li>
                        <a href="">Discover<br>Genesis</a>
                    </li>
                    <li>
                        <a href="">Finance Tools</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

</header>